body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

.hero-img {
  min-height: 100vh;
  background-image: url(https://s3-alpha-sig.figma.com/img/85b9/17e5/dc5e6ba88129c523fd3916dc9066b282?Expires=1625443200&Signature=YVXhMBNrSLgDVaDdqcjm5O8ghZc-LcULDQ0tOiBSlKoi3lCCgdQ~NArUVScGhFWP337SM9OgMGYRe6OOsDIpp8KNqdW907Jzh3N1GY4v7-QPcojPd-eJO-exofR39WjhGtvYWLElFxjRPG8p6PMQ~wGZem6IPqeoNm6oVTwsht-Y3VzK65T1PDquGt29-H~7Xe0XO0ogR1uiBv9d4Qnq6QxHu7FkEMt-CxVGaErd~szT9m1k66hVRFr-w24bRjkpTi5TI-AoUy9g5cGb19vcvhtIKQgVA5pafNBV~BVW7fZDaJWvNREdsO2tYN5x-~-hLQKIJQb-PHlIOSXSgP0d1w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-size: cover;
}

.hidden-image {
  border-left: aliceblue, 10px;

}

.text-info {
padding-top: 60px;
border-left: 50px, vertical, blueviolet;
font-size: 24pt;
}

.object-fit-contain {
  object-fit: cover;
}

.spill {
  bottom: -40px
}

.form input[type="text"] {
  box-sizing: border-box;
  padding-left: 10px;
}

#exampleFormControlTextarea1 {
  background-image: url(https://s3-alpha-sig.figma.com/img/e6a8/1160/8c31dee695fdead1ca92fc54ae605aa0?Expires=1625443200&Signature=SBMX7dT6~QwCD6WoEgtNhchyV3J7r7~~6Q3vSwv8a3-NvgQ8fhCTFeRNL1zv0bsoBX87mxLtjc7wOmaKEXM-ysHcZ5M8yB01a1YdW9e5awTZET4d0dI8fDGh7BuKcEmI-57B3gUgejPpWM3NBlY1VnlMzzJhWf4LTwSyhkQC55FpXIirI3z7rA7GOzHNg1pAylpwsp7MhhhV29eoejs1tuMP2UDbx-iunpOoBE~b4JeNXSrko2T5OnV2YOi48m7MHxi97hu-Pv2gu0dIMdX8Kto~cEDAI7KbhuOvMYOqI4k7-0WTBNo5fekIVLud20gafg4i1tvFXKohI5v5mDostw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
 color: aliceblue; 
}

#checkbox {
  padding: 10px;
  
}

#submit {

color: black;
box-shadow: blueviolet;}

#exampleFormControlInput4 {
  width: 40%; 
 }

#pad {
  justify-content: space-around;
  padding: 10px;
  flex: none;
}

.vertical {
  border-left: 6px solid black;
  height: 200px;
  position:absolute;
  left: 50%;
}

#pad > h3 {
  text-align: center;
}

.dog-image {
  background-image: url(https://s3-alpha-sig.figma.com/img/51cf/14e1/ef925d6cf6639481216ea5541bb8703e?Expires=1625443200&Signature=ddDZ-9ZbLwU9OLHne11u2wgomuKfeHqmDs6DARC9wEgY~oQOz8Pz0fs8PXIKA0Nahz2~ETkV1lK3gNJ4B45fnwgSvo7rw6fPK8hpWuMyEeLQtoKMxLX-x0DCHRI7f1CBf~q3z7QVteuQyi4cnDaCehw3I8xpz3rD1bdX8EWV1FVTCIUQkqyNvGj49rsROxiOze9MVwE9WkGNrzFQZy8zrCi0B1rhzcxnFAO9qT9~qcKC1-a9Er6wK6vtZaUJe82eW5jwzFpAcCFkusAA6IPAevXE0iuiY2UwvQa0Z31bO90k7s0PfO4OIdgEZmr4OYlMWK32GM5gmuaYD21rg2dQNQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
}

.dog1 {
  justify-content: space-around;
  padding: 10px;
}


